$google-blue: #357ae8;

.custom-button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 100rem;

    &:hover {
        cursor: pointer;
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
}

.square {
    border-radius: 0;
}

.grey {
    background-color: var(--color-primary);
    border: 2px solid var(--color-tertiary);

    &:hover {
        background-color: var(--color-tertiary);
        border: 2px solid var(--color-white);
        color: var(--color-white);
    }
}

.green {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid transparent;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
    }
}

.font-default {
    font-size: var(--font-size-default);
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $google-blue;
    border: 2px solid transparent;
    background-color: var(--color-primary);

    & .icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
    }

    &:hover {
        color: $google-blue;
        border: 2px solid $google-blue;
        background-color: var(--color-white);
    }
}
