$google-blue: #357ae8;

.custom-button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    background-color: var(--color-white);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 100rem;
    // transition: all 0.2s;

    &:hover {
        cursor: pointer;
        background-color: var(--color-secondary);
        color: var(--color-white);
        // transform: translateY(-0.5rem);
    }
}

.green {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid transparent;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
    }
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $google-blue;
    border: 2px solid transparent;
    background-color: var(--color-primary);

    & .icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
    }

    &:hover {
        color: $google-blue;
        border: 2px solid $google-blue;
        background-color: var(--color-white);
    }
}
