$google-blue: #357ae8;

.custom-button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 100rem;

    &:hover {
        cursor: pointer;
    }
}

.default {
    background-color: var(--color-secondary);
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.1);
    }
}

.square {
    border-radius: 0;
}

.cart {
    background-color: var(--color-primary);
    border: 2px solid var(--color-white);
    color: var(--color-tertiary-dark);
    transition: all 0.4s;

    &:hover {
        border: 2px solid var(--color-black);
        color: var(--color-black);
        background-color: var(--color-secondary-light);
    }
}

.green {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid transparent;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary-light);
    }
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $google-blue;
    border: 2px solid transparent;
    background-color: var(--color-primary);

    & .icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
    }

    &:hover {
        color: $google-blue;
        border: 2px solid $google-blue;
        background-color: var(--color-white);
    }
}

.item-button {
    font-size: var(--font-size-default);
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.1);
    }
}
