.cart-dropdown {
    width: 32rem;
    min-width: 30rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 3px solid var(--color-white);
    position: fixed;
    background: var(--color-primary-dark);
    top: 8rem;
    right: 5rem;
    z-index: 100;
    box-shadow: 1rem 1rem 5px rgba(#000, $alpha: 0.3);

    @media (max-width: 360px) {
        right: 2rem;
    }

    &__top {
        background: var(--color-tertiary-dark);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-primary);
        font-size: var(--font-size-small);
    }

    &__title {
        color: var(--color-white);
        user-select: none;
    }

    &__exit {
        &:hover {
            color: var(--color-red);
            cursor: pointer;
        }
    }

    &__items {
        max-height: 50vh;
        border: 1px solid var(--color-tertiary);
        overflow-x: hidden;
    }

    &__empty {
        text-align: center;
    }

    &__empty-heading {
        margin: 4rem 0 1rem;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-small);
    }

    &__empty-text {
        margin-bottom: 4rem;
    }

    & button {
        width: 100%;
    }
}
