.homepage {
    position: relative;
    padding-top: 7rem;

    & > .scroll-to-reveal {
        position: absolute;

        &.reveal {
            height: 130rem;

            @media (max-width: 960px) {
                height: 100rem;
            }

            @media (max-width: 768px) {
                height: 80rem;
            }
        }
    }

    &__image {
        width: 40rem;
        position: absolute;
        right: 0;
        opacity: 0.7;
    }
}
