.plants-list {
    position: relative;
    max-width: 100rem;
    margin: 0 auto 6rem;

    &__heading {
        text-align: center;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-medium);
    }

    &__container {
        max-width: 140rem;
        margin: 3rem auto 4rem;
        display: flex;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
    }

    & a {
        width: fit-content;
        display: block;
        margin: 3rem auto 0;
    }
}
