.types-overview {
    position: relative;
    &__heading {
        text-align: center;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-medium);
        margin-bottom: 3rem;
    }

    & > .scroll-to-reveal {
        position: absolute;
        top: 30%;
        left: 0rem;
    }

    &__art {
        opacity: 0.5;
        width: 70vw;
    }

    &__container {
        max-width: 140rem;
        margin: 3rem auto;
        display: flex;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
    }

    & a {
        width: fit-content;
        display: block;
        margin: 6rem auto 0;
    }
}
