.header {
    width: 100vw;
    min-height: 40rem;
    position: relative;

    @media (max-width: 600px) {
        margin-bottom: 6rem;
    }

    &__image {
        width: 100%;
        min-width: 80rem;
        @media (max-width: 480px) {
            position: absolute;
            right: -5rem;
            opacity: 0.7;
        }
    }

    &__content {
        width: 40rem;
        position: absolute;
        left: 10%;
        top: 35%;

        @media (max-width: 1200px) {
            left: 5%;
        }

        @media (max-width: 768px) {
            top: 25%;
            text-shadow: var(--color-primary) 2px 0;
        }

        @media (max-width: 600px) {
            top: 35%;
        }
    }

    &__title {
        margin-bottom: 3rem;

        &--sub {
            font-size: var(--font-size-small);
            margin-bottom: 2rem;

            @media (max-width: 600px) {
                margin-bottom: 1rem;
                font-size: var(--font-size-default);
            }
        }

        &--main {
            font-size: var(--font-size-huge);
            line-height: 1.2;

            @media (max-width: 600px) {
                font-size: var(--font-size-large);
            }
        }
    }
}
