.about-us {
    width: 100vw;
    background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-white)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 16rem;
    position: relative;

    @media (max-width: 1280px) {
        padding: 0 3rem;
    }

    &__image {
        width: 60%;
        transform: translateY(7rem);

        @media (max-width: 1280px) {
            transform: translateY(4rem);
        }
        @media (max-width: 768px) {
            transform: translateY(1.5rem);
            width: 80vw;
        }
    }

    &__content {
        padding: 0 5rem;

        @media (max-width: 1280px) {
            padding: 0 3rem;
        }
        @media (max-width: 768px) {
            width: 80vw;
            position: absolute;
            padding: 3rem;
            top: 20%;
            left: 20%;
            background: linear-gradient(
                to bottom,
                rgba(#e5e9ec, 0.7),
                rgba(#fff, 0.7)
            );
        }

        @media (max-width: 480px) {
            padding: 1rem;
            left: 10%;
            top: 10%;
        }
        @media (max-width: 375px) {
            width: 100%;
            left: 0;
            padding: 2rem;
        }
    }

    &__heading {
        font-size: var(--font-size-large);
        font-family: var(--font-family-secondary);
        margin-bottom: 3rem;

        @media (max-width: 768px) {
            margin-bottom: 1rem;
        }
    }
}
