.search-page {
    padding-top: 10rem;

    & > .scroll-to-reveal {
        position: absolute;
        top: 13rem;
        display: flex;
        justify-content: center;

        @media (max-width: 435px) {
            top: 15rem;
        }
    }

    &__art {
        position: absolute;
        width: 60vw;
        z-index: -100;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
        text-shadow: var(--color-white) 1px 1px;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-medium);
        color: var(--color-secondary);
    }

    & input {
        margin: 3rem auto;
    }

    &__empty {
        height: calc(100vh - 70rem);
        text-align: center;
        margin: 8rem;
        font-size: var(--font-size-small);
    }
}
