.search-page {
    padding-top: 10rem;
    min-height: 50vh;

    & > .scroll-to-reveal {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
    }

    &__art {
        position: absolute;
        width: 60vw;
        z-index: -100;
        opacity: 0.7;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
        text-shadow: var(--color-white) 3px 1px;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-medium);
        color: var(--color-secondary);
    }

    & input {
        margin: 3rem auto;
    }

    &__empty {
        text-align: center;
        margin: 12rem;
        font-size: var(--font-size-small);
    }
}
