$color-secondary-light: #b2fbad;
$color-secondary: #4caf50;

.footer {
    z-index: 100;
    background: linear-gradient(
        to bottom,
        rgba($color-secondary-light, 0.6),
        rgba($color-secondary, 0.66)
    );
    clip-path: polygon(0 0, 70% 3rem, 100% 4%, 100% 100%, 0 100%);
    padding: 4rem 0 1rem;

    @media (max-width: 768px) {
        clip-path: polygon(0 0, 70% 3rem, 100% 0%, 100% 100%, 0 100%);
    }

    &__top {
        width: 100%;
        margin: 0rem auto 3rem;
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(
            to right,
            var(--color-white),
            var(--color-secondary-light) 90%
        );

        @media (max-width: 600px) {
            padding: 0 2rem;
        }

        @media (max-width: 450px) {
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        list-style-type: none;

        @media (max-width: 450px) {
            flex-direction: row;
        }
    }

    &__bottom {
        text-align: center;
        font-size: var(--font-size-default);
    }

    &__title {
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-large);
        color: var(--color-secondary);
    }

    &__text {
        font-size: var(--font-size-default);
        margin-bottom: 3rem;
    }

    &__link {
        text-decoration: none;
        color: var(--color-black);
        font-size: var(--font-size-medium);
        font-family: var(--font-family-secondary);

        &:hover {
            color: var(--color-secondary);
        }
    }

    &__icons-box {
        display: flex;
        justify-content: space-around;
    }

    &__icon {
        width: 3.6rem;
        height: 3.6rem;
    }

    &__link:hover &__icon--facebook {
        fill: #1877f2;
    }
    &__link:hover &__icon--twitter {
        fill: #1da1f2;
    }
    &__link:hover &__icon--youtube {
        fill: #f00;
    }
}
